<div id="quiz-div">
    <form id="quiz-form" action="/rezultat-chestionar" method="POST">
        <h3 id="quiz-title">Chestionar despre toastere!</h3>
        <% for(let i=0; i < intrebari.length; i++) { %>
            <div>
                <p class="question-statement">
                    <%=intrebari[i].intrebare%>%>
                </p>
                <div class="question-answers">
                    <% for(let j=0; j < intrebari[i].variante.length; j++) { %>
                        <div>
                        <input class="question-input" type="radio" id="question-<%= i %>-<%= j %>" name="question-<%= i %>" value=<%=j %>>
                        <label class="question-label hoverable" for="question-<%= i %>-<%= j %>">
                            <%= intrebari[i].variante[j] %>
                        </label>
                        </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        <input type="submit" value="Finalizează">
    </form>
</div>