<div id="quiz-div">
    <form id="quiz-form" action="/rezultat-chestionar" method="POST">
        <h3 id="quiz-title">Chestionar despre toastere!</h3>
        <% for(let i=0; i < intrebari.length; i++) { %>
            <div class="quiz-question">
                <p class="question">
                    <%=intrebari[i].intrebare%>%>
                </p>
                <% for(let j=0; j < intrebari[i].variante.length; j++) { %>
                    <input class="question-input" type="radio" id="question-<%= i %>-<%= j %>" name="question-<%= i %>" value=<%=j %>>
                    <label class="question-label" for="question-<%= i %>-<%= j %>">
                        <%= intrebari[i].variante[j] %>
                    </label>
                <% } %>
            </div>
            <% } %>
        <input type="submit" value="Finalizează">
    </form>
</div>