<script src="js/requests.js" type="text/javascript"></script>
<div class="flex-column" id="index-div">
    <div id="welcome">
        <% if (session.user) { %>
            <h2>Bine ai venit, <span class="fancy-font"><%= session.user.firstName %> <%= session.user.lastName %></span> !</h2>
        <% } else { %>
            <h2>Bun venit la <span class="fancy-font">toasted.com</span></h2>
        <% } %>
    </div>

    <div id="status">
        <p id="message"></p>
    </div>
    <% if(products) { %>
    <div id="products-div" class="flex-column">
        <table id="products-table">
            <thead>
                <th>Produs</th>
                <th>Denumire</th>
                <th>Preț</th>
                <th>Acțiuni</th>
            </thead>
            <tbody>
                <% for(let i = 0; i< products.length; ++i) {%>
                <tr>
                    <td class="product-image-td">
                        <img class="product-image" src="images/<%= products[i].img %>" alt="imagine toaster">
                    </td>
                    <td><%= products[i].name %></td>
                    <td>$<%= products[i].price %></td>
                    <td>
                        <% if(session.user) { %> 
                        <button onclick="addToBasket(<%= products[i].id %>)">Adaugă la coș</button> 
                        <% } else { %>
                        <a class="hoverable" href="/autentificare">Autentificați-vă</a>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <div id="buttons">
        <button onclick="request('/creare-bd', 'POST', () => insertMessage('Baza de date creată'))">Creare BD</button>
        <button onclick="request('/inserare-bd', 'POST', () => window.location='/')">Încărcare BD</button>
    </div>
    <% } %>
</div>